:root {
    --color-ood:  dodgerblue;
    --color-even: #9ac0e6;
}

html,
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #e7e7e7;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 3px 11px -5px rgba(0,0,0,0.75);
}

aside button {
    border-radius: 10px;
    width: 70%;
    height: 2rem;
    border: 0.5px solid #b1b1b1;
    background-color: #05c394;
    font-size: 1.2rem;
    transition: background-color 0.2s;
}

aside button:hover {
    background-color: #47e9c0;
}

table {
    width: 60%;
    border-collapse: collapse;
}

table tr {
    height: 5.8rem;
}


table td {
    width: 1rem;
}

table tr:nth-child(odd) td:nth-child(odd) {
    background-color: var(--color-ood);
}

table tr:nth-child(odd) td:nth-child(even) {
    background-color: var(--color-even);
}

table tr:nth-child(even) td:nth-child(even) {
    background-color: var(--color-ood);
}

table tr:nth-child(even) td:nth-child(odd) {
    background-color: var(--color-even);
}
