:root {
    --color-ood:  #468faf;
    --color-even: #a9d6e5;
    --color-player1: #070068;
    --color-player2: #edae49;
    --color-moveTo: #9b2f3d;
    --color-ood-disabled: #7c7c7c; 
    --color-even-disabled: #d4d4d4; 
}

html,
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #e7e7e7;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

#root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 3px 11px -5px rgba(0,0,0,0.75);
}

aside header h1 {
    font: 700 italic 2rem Nunito, sans-serif;
}

aside button {
    border-radius: 10px;
    width: 70%;
    height: 2.5rem;
    border: 0.8px solid #b1b1b1;
    background-color: #05c394;
    color: #000000;
    font-size: 1.2rem;
    transition: background-color 0.2s;

    font-family: 'Nunito', sans-serif;;
}

aside button:hover {
    background-color: #47e9c0;
}

aside button:focus {
    outline: none;
}

aside p {
    font-size: 1.3rem;
}

table {
    width: 60%;
    border-collapse: collapse;
}

table tr {
    height: 5.8rem;
}


table td {
    padding: 0;
    width: 1rem;
    max-width: 1rem;
    text-align: center;
}

table tr:nth-child(odd) td:nth-child(odd) {
    background-color: var(--color-ood);
}

table tr:nth-child(odd) td:nth-child(even) {
    background-color: var(--color-even);
}

table tr:nth-child(even) td:nth-child(even) {
    background-color: var(--color-ood);
}

table tr:nth-child(even) td:nth-child(odd) {
    background-color: var(--color-even);
}

table tr:nth-child(odd) td.disabled:nth-child(odd) {
    background-color: var(--color-ood-disabled);
}

table tr:nth-child(odd) td.disabled:nth-child(even) {
    background-color: var(--color-even-disabled);
}

table tr:nth-child(even) td.disabled:nth-child(even) {
    background-color: var(--color-ood-disabled);
}

table tr:nth-child(even) td.disabled:nth-child(odd) {
    background-color: var(--color-even-disabled);
}



table tr td span {
    font-size: 4rem;
    
}

table td.moveTo {
    background-color: var(--color-moveTo) !important;
}



table span.player1 {
    color: var(--color-player1)
}

table span.player2 {
    color: var(--color-player2);
}